.Trees img
{
    width: 30%;
    height:30%;
}

.pollution img
{
    width: 30%;
    height:30%; 
}

#WHY
{
    width: 25%;
    height:25%;  
}

#tree
{
    width: 31%;
    height:31%;  
}